<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Our sample example</h1>
    <p>Welcome to <%= title %> by <%=name%> age <%=age%></p>
  </body>
</html>
