<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<style>
    div {
        margin:20px 0px;
    }
</style>
<body>
<h1><%= title %></h1>

<div>
    <label>Name</label>
    <input name="name" class="name" id="name" placeholder="Enter name" />
</div>
<div>
    <label>Breed</label>
    <input name="breed" class="breed" id="breed" placeholder="Enter breedr" />
</div>
<div>
    <label>Age</label>
    <input name="age" class="age" id="age" placeholder="Enter Age" />
</div>
<div>
    <label>Sex(M/F)</label>
    <input name="sex" class="sex" id="sex" placeholder="Sex" />
</div>

<div>
    <button class="submit_detail">Submit</button>
</div>
<h1>Search</h1>
<div>
    <label>Enter search text</label>
    <input name="search" class="search" id="search" placeholder="Search" />
</div>
<div class="search-result">

</div>
<div>
    <button class="submit_search">Submit</button>
</div>
</body>

<script src="/js/jquery-3.3.1.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script>

    $(document).ready(function(){

        $(".submit_search").click(function(){
            var id = $('#search').val();
            if(id=='' ){
                alert("Enter search ID");
            }else{
                var data = {};
                data.id = id;
                console.log("search entered", data);
                $.ajax({
                    url : "/search/puppies",
                    type : "POST",
                    dataType: "json",
                    data : data,
                    success : function(datan) {
                        console.log(datan);
                        if(datan.flag){
                            $('#search-result').html(datan.response);
                            alert("Data inserted successfully");
                        }else{
                            alert("No search result found");
                        }
                    },
                    error : function() {
                        alert("Something went wrong");
                    }
                });
            }

        });

        $(".submit_detail").click(function(){

            //Input request value initialisation

            var name = $('#name').val();
            var breed= $('#breed').val();
            var age = $('#age').val();
            var sex = $('#sex').val();

            if( breed == '' || name =='' || age =='' || sex == ''){
                alert("Enter all the details");
            }else{
                var data = {};
                data.breed = breed;
                data.name = name;
                data.age = age;
                data.sex = sex;

                console.log("Year entered", data);

                $.ajax({
                    url : "/api/puppies",
                    type : "POST",
                    dataType: "json",
                    data : data,
                    success : function(datam) {
                        console.log(datam);
                        if(datam.flag){
                            $('#name').val('');
                            $('#breed').val('');
                            $('#sex').val('');
                            $('#age').val('');
                            alert("Data inserted successfully");
                        }else{
                            alert("Data not inserted. Try again");
                        }
                    },
                    error : function() {
                        alert("Something went wrong");
                    }
                });
            }

        });




    });

</script>
</html>
